html {
    scroll-behavior: smooth;
}

body {
    background-color: #8EB286;
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 15px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

/* nav {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */

li {
    display: inline-block;
    margin-top: 15px;
    padding: 15px 20px;
}

li a {
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover,
a:active {
    color: darkgreen;
}

.figure-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.polaroid {
    height: 525px;
    max-width: 525px;
    border-radius: 5px;
    border: 10px solid white;
    background-color: white;
}

.polaroid > img {
    height: 425px;
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}

figcaption {
    background-color: white;
    font-family: 'Permanent Marker', cursive;
    border: 5px solid white;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

@media only screen and (min-width: 635px) {
    #small-screen-title {
        display: none;
    }
}

@media only screen and (min-width: 1px) and (max-width: 635px) {
    
    #large-screen-title {
        display: none;
    }

    .polaroid {
        width: 100%;
        border: none;
        margin-left: 0px;
    }

    .polaroid > img {
        height: 425px;
        border-radius: 5px;
    }

    figcaption {
        background-color: white;
        font-family: 'Permanent Marker', cursive;
    }
}

@media only screen and (max-width: 1300px) {
    
    .figure-container {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
        }
}

